<div class="back shops"></div>
<div class="container">
	<%= link_to image_tag('joe2.svg', width:275, height:275, class: 'image img-responsive'), root_path%>
	<div class="header col-md-9">	
		<%= button_tag link_to('Shops', shops_path), class: 'headbutts'%>
		<%= button_tag link_to('Glossary', drinks_path), class: 'headbutts'%>
		<% unless logged_in? %>
		<%= button_tag link_to('Sign Up', new_user_path), class: 'headbutts'%>
		<% else %>
		<%= button_tag link_to('Logout', session_path, :method => :delete), class: 'headbutts'%>
		<% end %>

	</div>
	<div class= "mainpage-shops col-md-12 col-s-12 col-xs-12">
	<br>
	<div id="coffee-shop-list">
    <input class="search" placeholder="Search lovely things" />
    <ul style="float:right;"class="sort-by">
        <li class="sort btn" data-sort="name">Sort by name</li>
        <li class="sort btn" data-sort="rating">Sort by rating</li>
        <li class="sort btn" data-sort="neighborhood">Sort by neighborhood</li>
    </ul>
    <ul class="filter">
        <li class="btn" id="filter-none">Show all</li>
        <li class="btn" id="filter-games">Only show games</li>
        <li class="btn" id="filter-beverages">Only show beverages</li>
    </ul>
		<ul class="list">
		<% for shops in @shop do %>
		<li>
		<div class= "info col-md-4 col-s-6 col-xs-12">
			<%= image_tag(shops.image, id: "image")%>
			<h2 id="name" class="name"><%= shops.name %></h2>
			<h4 id="rating" class="rating"><%= shops.rating %></h4>
			<%= image_tag(shops.rating_url, id:'image-rating')%>
			<p id="neighborhood" class="neighborhood"><%= shops.neighborhood %></p>
		</div>
		<div class="details col-md-6 col-s-6 col-xs-12">
			<h3 id="address"><%= shops.address %></h3>
			<h5 id="cross"><%= shops.cross %></h5>
			<h5 id="city"><%= shops.city%>, <%= shops.state%> <%= shops.zip %></h5>
			<p id="snippet" class="snippet"><%= shops.snippet %></p>
			<h5 id="phone"><%= shops.phone %></h5>
		</div>	
		</li>
		<% end %>
	</ul>
	</div>
	

</div>
