
<div class="back shops"></div>

  <%= render "layouts/header" %>

  <div class="row" id="coffee-shop-list">

  <div class="small-12 large-12 columns shop-nav">
      <div id="googft-mapCanvas"></div>
      <ul class="sort-by">
        <input class="search" type="text" id="search-string_0" placeholder="Search locations" onkeyup="changeMap_0()">
        <li class="sort btn" data-sort="name">Sort by Name</li>
        <li class="sort btn" data-sort="rating">Rating</li>
        <li class="sort btn" data-sort="neighborhood">Hood</li>
      </ul>
    </div>
    <div class="small-12 large-12 columns shops-page">
    <div class="row">
      <ul class="list">
        <% for shops in @shop do %>
        <li>
          <a href="<%= shop_path(shops)%>">
            <div class="small-12 medium-6 large-6 columns more">
            <div class="row">
            <div class="">
              <%= image_tag(shops.image, id: "image")%>
              <h4 id="name" class="name"><%= shops.name %></h4>
              <%= image_tag(shops.rating_url, id:'image-rating')%>
              </div>
              <div>
              <h6 id="rating" class="rating"><%= shops.rating %></h6>
              <h6 id="neighborhood" class="neighborhood"><%= shops.neighborhood %></h6>
              <h5 id="address"><%= shops.address %></h5>
              <h6 id="cross"><%= shops.cross %></h6>
              <h6 id="city"><%= shops.city%>, <%= shops.zip %></h6>
              </div>
            </div>
            </div>
          </a>  
        </li>

        <% end %>
      </ul>
    </div>
    </div>
  </div>

  <!-- Main Shops Map -->

  <%= render "map"%>