
<div class="back shops"></div>
<div class="container">
	<%= link_to image_tag('joe2.svg', width:275, height:275, class: 'image img-responsive'), root_path%>
	<div class="header col-md-9">	
	<%= button_tag link_to('Home', root_path), class: 'headbutts'%>
		<%= button_tag link_to('Shops', shops_path), class: 'headbutts'%>
		<%= button_tag link_to('Glossary', drinks_path), class: 'headbutts'%>
		<% unless logged_in? %>
		<%= button_tag link_to('Account', new_user_path), class: 'headbutts'%>
		<% else %>
		<%= button_tag link_to('Account', user_path(session[:user_id])), class: 'headbutts'%>
		<%= button_tag link_to('Logout', session_path, :method => :delete), class: 'headbutts'%>
		<% end %>

	</div>
	<div class= "mainpage-shops col-md-10 col-s-12 col-xs-12">
		<div id="coffee-shop-list">
			<div style="position:fixed"class="mapandsearch col-md-5 col-s-5 col-xs-5">
				<div id="googft-mapCanvas"></div>
				<br>
				<ul class="sort-by">
        <input class="search" type="text" id="search-string_0" placeholder="Search locations">
        <input class="searchbox"type="button" onclick="changeMap_0()" value="Search">
					<li class="sort btn" data-sort="name">Sort by   Name</li>
					<li class="sort btn" data-sort="rating">Rating</li>
					<li class="sort btn" data-sort="neighborhood">Hood</li>
				</ul>
			</div>
			<div class="listed col-md-7 col-s-5 col-xs-12">
				
				<ul class="list">
					<!-- <h4 class="click">Click for more info &#8594;</h4> -->
					<% for shops in @shop do %>
					<li>
					<a href="<%= shop_path(shops)%>">
						<div class="details col-md-5 col-s-6 col-xs-12 more">
							<%= image_tag(shops.image, id: "image")%>
							<h4 id="name" class="name"><%= shops.name %></h4>
							<h6 id="rating" class="rating"><%= shops.rating %></h6>
							<%= image_tag(shops.rating_url, id:'image-rating')%>
							<h6 id="neighborhood" class="neighborhood"><%= shops.neighborhood %></h6>
							<h5 id="address"><%= shops.address %></h5>
							<h6 id="cross"><%= shops.cross %></h6>
							<h6 id="city"><%= shops.city%>, <%= shops.zip %></h6>
						</div>
						</a>	
					</li>

					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		mapAll();
		list();
	</script>
