<div class="back shops"></div>
<%= render "layouts/header" %>

<div class="row shop-show">
	<div class="small-12 large-12 columns">
		<div class="row">
			<div class="small-3 large-3 small-offset-1 columns info">
				<img class=""src="<%= @shop.image %>">
				<h2 class="name"><%=@shop.name%></h2>
				<h6 class="rating"><%=@shop.rating%></h6>
				<img class="rating"src="<%=@shop.rating_url%>">
				<%if logged_in? %>
				<%= button_to("Add to List", favorite_shop_path)%>
				<%end%>
			</div>
			<div class="small-6 large-6 columns details">
				<h4 class="address"><%=@shop.address%></h4>
				<h5 class="cross"><%=@shop.cross%></h5>
				<h4 class="neighborhood"><%=@shop.neighborhood%></h4>
				<h5 class="city"><%=@shop.city%>, <%=@shop.zip%></h5>
				<h6 class="phone"><%=@shop.phone%></h6>
				<p><%= @shop.snippet%></p>
			</div>
		</div>
	</div>
	<div class="small-12 large-12 columns">
		<div id="googft-mapCanvas"></div>
	</div>

</div>

<!-- Google Map Javascript -->

<script type="text/javascript">
	mapSingle("<%=@shop.address%>", "<%=@shop.address%> <%=@shop.zip%>")
</script>