<div class="back home"></div>
<div class="container">
	<%= link_to image_tag('joe2.svg', width:275, height:275, class: 'image img-responsive'), root_path%>
	<div class="header col-md-9">	
	<%= button_tag link_to('Home', root_path), class: 'headbutts'%>
		<%= button_tag link_to('Shops', shops_path), class: 'headbutts'%>
		<%= button_tag link_to('Glossary', drinks_path), class: 'headbutts'%>
		<% unless logged_in? %>
		<%= button_tag link_to('Account', new_user_path), class: 'headbutts'%>
		<% else %>
		<%= button_tag link_to('Account', user_path(session[:user_id])), class: 'headbutts'%>
		<%= button_tag link_to('Logout', session_path, :method => :delete), class: 'headbutts'%>
		<% end %>

	</div>
	<div class= "mainpage col-md-12 col-s-12 col-xs-12">
		<div class="listed col-md-12 col-s-12 col-xs-12">
		<img src="http://24.media.tumblr.com/tumblr_lzr276wu0y1qfw7rho1_400.gif">
		<h1 class="error">Sorry, We don't have any record of that. Should we?</h1>
		<h3 class="error">Send an email to the_joe@icloud.com to add your favorite coffee shop</h3>
		</div>
	</div>
</div>
