<div class="back home"></div>
<div class="container">
	<%= link_to image_tag('joe2.svg', width:125, height:125, class: 'image img-responsive'), root_path%>
	<div class="header col-md-9">	
		<%= button_tag link_to('Shops', shops_path), class: 'headbutts'%>
		<%= button_tag link_to('Glossary', drinks_path), class: 'headbutts'%>
		<% unless logged_in? %>
		<%= button_tag link_to('Account', new_user_path), class: 'headbutts'%>
		<% else %>
		<%= button_tag link_to('Account', user_path(session[:user_id])), class: 'headbutts'%>
		<%= button_tag link_to('Logout', session_path, :method => :delete), class: 'headbutts'%>
		<% end %>

	</div>
	<div class= "mainpage-search col-md-4 col-s-12 col-xs-12">
		<div class="listed col-md-12 col-s-12 col-xs-12">
		<div class="row">
			<ul class="search_list">
				<label class="search">Search Results</label>
				<% for shops in @shops do %>
				<li>
					<a href="<%= shop_path(shops)%>">
							<%= image_tag(shops.image, id: "image")%>
							<h4 id="name" class="name"><%= shops.name %></h4>
							<h6 id="rating" class="rating"><%= shops.rating %></h6>
							<%= image_tag(shops.rating_url, id:'image-rating')%>
							<h6 id="neighborhood" class="neighborhood"><%= shops.neighborhood %></h6>
							<h5 id="address"><%= shops.address %></h5>
							<h6 id="cross"><%= shops.cross %></h6>
							<h6 id="city"><%= shops.city%>, <%= shops.zip %></h6>
					</a>	
				</li>
				<% end %>
			</ul></div>
		</div>
	</div>
</div>
