<!DOCTYPE html>
<html>
<head>
  <title>TheJoe</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="back"></div>
<%= link_to image_tag('joe2.svg', width:300, height:300, class: 'image'), root_path%>

	<%= yield %>

</body>
</html>
